
.titre-contact{
  text-align: center;
  padding-top: 3vh;
}

.text-formulaire{
    margin-top: 3vh;
    margin-right: 10vh;
    margin-left: 10vh;
  }

.formulaire {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 0.25rem;
    float: left;
    margin-left: 20vh;
  }


 

/*
 input[type=text], textarea, input[type=email] {
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: horizontal;
  display:inline-block;
 
}*/

.fname {
  width: 60px;
}

.subject {
  width: 80px;
}

.emailAddress {
  width: 100px;
}

.message {
  width: 300px;
}

.envoyer-btn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  border-color: black;
  border-width: 4px;
}

.envoyer-btn:hover {
  background-color: #cacaca;
}