
.container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    overflow: auto;
    z-index: 4;
    position: relative;
}

.form_creeCompte {
    background-color: #fff;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.textQuestion{
    margin-top: 2vh;
    display: block;
    margin: 0 auto;
}

.titreCreaCompte{
    padding: 3vh;
}

.labelCreeCompte{
    display: block;
    margin-top: 2vh;
    margin-bottom: 10px;
    font-size: 16px;
}

.inputCreaCompte{
    width: 100%;
    padding: 10px;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.btnCreeCompte {
    background-color: #3A0CA3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 2vh;
}

.btnCreeCompte:hover {
    background-color: #7209B7;
}
