@font-face {
  font-family: 'Raleway';
  src: url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
}

.home-accueil{
  margin-top: 3vh;
  margin-left: 3vh;
  overflow: auto;
  text-align: center;
}


.titre-home{
  font-size: 55px;
  margin-bottom: 5vh;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.text-titre-home {
  max-width: 50%;
  text-align: center;
  margin-left: 25%;
  font-family: 'Raleway', sans-serif;
}

.btnHome{
  color: #fff ;
  text-decoration: none;
}


.button-home {
  position: relative;
  overflow: hidden;
  height: 4vh;
  margin-top: 4vh;
  padding: 0 2rem;
  border-radius: 15px;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
}

.button-home:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
  font-family: 'Raleway', sans-serif;
}

.button-home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

.footer-home{
  margin-top: 6vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto;
}

.item-footer-home {
  
  flex: 1 1 260px;

  text-align: center;
  margin: 4vh;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 3vh;
  border-radius: 3vh;
}

@media only screen and (max-width: 768px) {
  .text-titre-home {
    text-align: justify;
  }
}


.image-container-home{
  margin-top: 1vh;
  margin-bottom: 5vh;
}


.image-home{
  width: 60px;
}

.footer-home-texte{
  text-align: justify;
  font-family: 'Raleway', sans-serif;
}

.footer-home-titre{
  margin-bottom: 2vh;
  font-family: 'Raleway', sans-serif;
}