.home-accueil{
  margin-top: 3vh;
  margin-left: 3vh;
}

.titre-home{
  font-size: 55px;
  margin-bottom: 2vh;
}

.text-titre-home {
  max-width: 50%;
}


.button-home {
  position: relative;
  overflow: hidden;
  height: 4vh;
  margin-top: 4vh;
  padding: 0 2rem;
  border-radius: 15px;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
}

.button-home:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button-home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

.footer-home{
  margin-top: 6vh;
  display: flex;
}

.item-footer-home {
  flex-basis: 25%;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .item-footer-home {
    max-width: calc(50% - 20px);
  }
}


.image-container-home{
  margin-top: 10vh;
  margin-bottom: 5vh;
}


.image-home{
  width: 60px;
}