:root{
    /*Initialisation de la variable pour la progressBar*/
    --progress: 0%
}

#idQuiz{
    display: none;
}

#pseudoQuiz{
    display: none;
}

#mainContainerQuiz{
    font-family: Raleway;
}

#containerQuizInfo{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    margin-bottom: 2%;
}

#info-quiz{
    display: flex;
    width: 90vw;
    height: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#titreQuiz{
    font-size: 3rem;
}

#containerQuiz {
    position: relative;
    top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 90vh;
    width: 100vw;
    border-radius: 15px;
}

#QuestionQuiz {
    background-color: #ffffff;
    height: 30vh;
    width: 60vw;
    border-radius: 15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    text-align: center;
}
.imgQuestion{
    max-width: 100%;
    height: auto;
}

#sectionReponseQuiz{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    height: 50vh;
    width: 60vw;
}

.btn-reponse{
    font-size: 1.2rem;
    font-family: Raleway;
    text-align: center;
    background-color: #ffffff;
    height: 15vh;
    width: 29vw;
    border-radius: 15px;
    border: none;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.btn-reponse:hover{
    transform: scale(105%);
    transition: all 0.2s;
    font-weight: bold;
}

.correct{
    background: linear-gradient(32deg, rgba(11,223,36)0%, rgba(41,232,111)100%);
}

.incorrect{
    background: linear-gradient(32deg, rgba(230,29,29)0%, rgba(224,11,11)100%);
}

#progressBar{
    z-index: 1;
    color: #ffffff;
    border-radius: 50%;
    position: relative;
    width: 220px;
    height: 35px;
    border: 2px solid rgb(255, 0, 234);
}
#progressBar::after{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: var(--progress);
    height: 100%;
    background-color: rgb(255, 0, 234);
    content: attr(data-progress);
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.quiz-q-a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.add-r {
    background: white;
    aspect-ratio: 1/1;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.add-r i {
    font-size: 1.1rem;
}

.add-r:hover {
    cursor: pointer;
}

.input-r {
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
}

.input-r:focus {
    outline: none;
}

.rep {
    padding: 10px;
    background: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.none {
    display: none;
}