$purple: #7209B7;
$blanc: #fff;


@mixin flex($valeur) {    
    display: flex;
    align-items: center;
    justify-content: $valeur;    
    flex-direction: column;
}


@mixin posscenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin hover_button {
    cursor: pointer;
    user-select: none;
}


@mixin maxhw {
    width: 100%;
    height: 100%;
}

body {
    background-color: $purple;
    overflow: hidden;
    height: 100vh;
    @include flex(flex-start);
}

#logo {
    max-width: 500px;
    margin-bottom: 45px;
    width: 80%;

    @media screen and (max-width: 1200px) {
        max-width: 300px;
    }
}


@mixin onhover($transition,$taille) {
    content: "";
    position: absolute;
    @include maxhw;
    transform: rotate(90rad);
    left: -100%;
    height: $taille;
    background-color: rgba(0, 0, 0, 0.1);
    transition: $transition;
}


@mixin btn-style{    
    width: 300px;
    height: 60px;
    background-color: $blanc;
    border-radius: 5px;
}

#contenant_conn {
    position: relative;
    @include  btn-style;
    overflow: hidden;
    z-index: 3;
    @include flex(center);
    @include hover_button;

    p {
        font-family: Raleway;
    }

    &::after {
        @include onhover(1s,50%);
    }

    &::before {
        @include onhover(800ms,70%);
    }

    &:hover {
        &::before {
            left: 150%;
        }

        &::after {
            left: 150%;

        }
    }

    &.disparait {
        transition: 1s;
        opacity: 0;
    }
}


.invite {
    font-family: Raleway;
    font-weight: lighter;
    opacity: 70%;
    margin-top: 20px;
    z-index: 2;
    @include hover_button;

    &:hover {
        opacity: 1;
        text-decoration: underline;
    }

    &.disparait {
        transition: 400ms;
        transform: translateY(-200%);
    }
}


.pseudo {
    @include btn-style;
    @include flex(flex-start);
    position: relative;
    opacity: 0%;
    transition: 600ms;
    flex-direction: row;

    svg {
        height: 45px;
        width: 45px;
    }

    * {
        margin-left: 15px;
    }

    input {
        border: none;
        width: 80%;
        font-size: large;

        &:focus {
            outline: none;
        }
    }

    &.apparaitre {
        opacity: 100%;
        z-index: 6;
    }
    
}

.secondpart {
    @include flex(space-between);
    flex-direction: row;
    margin-top: 25px;    
    transition: 1s;
    transform: translateY(-140%) scale(0.9);

    .mdp {
        @extend .pseudo;
        opacity: 100%;
        width: 200px;
        z-index: 4;
    }

    .valide {
        position: relative;
        @extend .pseudo;
        z-index: 3;
        opacity: 100%;
        overflow: hidden;
        background-color: #6CAF5B;
        width: 60px;
        height: 60px;
        transform: translateX(-200%);
        transition: 400ms;

        >* {
            @include posscenter;
            @include hover_button;
            margin: 0px;
            background-color: #6CAF5B ;
        }

        &.apparaitre {
            transform: translateX(0%);
        }
    }

    &.apparaitre {
        transition: 1s;
        transform: translateY(0%) scale(1);
    }
}

#btn-retour {
    justify-self: center;
}

#form_conn {
    @include flex(center);
    align-items: normal;

    #btn-retour {
        align-self: center;
        font-family: Raleway;
        transition: 200ms;
        opacity: 0;
        @extend .invite;

        &.apparaitre {
            opacity: 1;
        }
    }
}

.none {
    display: none !important;

    * {
        display: none !important;
    }
}